@use "../global/base.module";

.card {
  height: min-content;
  border: 1px solid gray;
  width: 20rem;
  border-radius: 5px;
  display: grid;
  padding-top: 1rem;
  overflow: hidden;
  position: relative;
  @media (max-width: base.$sm) {
    width: 80%;
  }
  > button {
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    border: none;
    top: 3%;
    right: 5%;
    @media (max-width: base.$sm) {
      right: 1%;
    }

    > svg {
      @media (max-width: base.$sm) {
        height: 1.5rem;
      }
      height: 2rem;
      path {
        stroke: #e31b23;
      }
    }
  }
  .fillIcon {
    > svg {
      fill: #e31b23;
      animation: heart 1.3s 1 forwards;
    }
    @keyframes heart {
      50% {
        transform: scale(200%);
      }
      100% {
        transform: scale(1);
      }
    }
  }
  > img {
    justify-self: center;
    max-height: 15rem;
    min-height: 10rem;
    width: min-content;
    border-radius: inherit;
  }
  > h3 {
    text-overflow: ellipsis;
    color: transparent;
    background-image: linear-gradient(to right, #b24592, #f15f79);
    background-clip: text;
    -webkit-background-clip: text;
    text-align: center;
  }
  > div {
    display: flex;
    align-items: center;
    padding-inline: 2rem;
    > p {
      display: inline;
      color: black;
      font-weight: 700;
      .mrp {
        display: none;
      }
    }
    .discount {
      .price {
        text-decoration: line-through;
        color: gray;
        text-decoration-thickness: 2px;
      }
      @media (max-width: base.$sm) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
      }
      .mrp {
        margin-left: 1rem;
        display: inline-block;
        background-color: base.$blue;
        color: white;
        padding-inline: 0.5rem;
        border-radius: 4px;
      }
    }
    > span {
      background-color: green;
      height: 1.5rem;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      width: fit-content;
      font-weight: bolder;
      margin-left: auto;
      gap: 10px;
      padding-inline: 1rem;
      border-radius: 4px;
      > svg {
        height: 1rem;
      }
    }
  }
  >section{
    padding-left: 2rem;
    padding-bottom: 1rem;
    text-overflow: ellipsis;
    text-transform: capitalize;
    color: rgb(88, 88, 88);
    font-weight: 600;
  }
}
