@use "../../../../components/global/base.module";

// ! add items page
.add_item {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
  // * variable
  %input-style {
    background-color: base.$pink-transparent;
    outline: none;
    border: none;
    border-radius: 4px;
    width: 30rem;
    @media (max-width: 630px) {
      width: 90%;
    }
  }

  @extend %full-area;
  display: grid;
  justify-content: center;
  padding-top: 2rem;
  form {
    padding-bottom: 10rem;
    height: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 80vw;
    max-width: 800px;
    overflow-x: hidden;
    .section_scroll {
      width: 100%;
      display: flex;
      flex-direction: row-reverse;
      overflow-x: scroll;
      gap: 30px;
      scrollbar-width: thin;
      scrollbar-color: base.$brown transparent;
      scroll-snap-type: x mandatory;
      padding-bottom: 2rem;
      &::-webkit-scrollbar {
        background: transparent;
        height: 10px;
      }
      &::-webkit-scrollbar-thumb {
        background: base.$brown;
        border-radius: 25px;
      }
      > div {
        scroll-snap-align: center;
        aspect-ratio: 16/9;
        border: 5px solid base.$pink;
        min-width: 95%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        > button {
          aspect-ratio: 1;
          height: 2rem;
          background-color: transparent;
          border: none;
          border-radius: 5px;
          box-shadow: 0 0 5px gray;
          cursor: pointer;
        }
        > input {
          @extend %input-style;
          font-size: 1.1rem;
          padding: 5px 10px;
          width: 20rem;
          padding-left: 1rem;
          @media (max-width: 475px) {
            width: 80%;
          }
        }
        .remove_button {
          top: 5px;
          right: 5px;
          position: absolute;
          box-shadow: none;
          color: white;
          border: none;
          border-radius: 4px;
          background-color: crimson;
          > svg {
            height: 1.5rem;
          }
          &:hover {
            background-color: darken(crimson, 10%);
          }
        }
        > img {
          object-fit: contain;
          border-radius: 5px;
        }
      }
    }
    > input {
      @extend %input-style;
      font-size: 1.1rem;
      padding: 5px 10px;
      padding-left: 1rem;
    }
    > textarea {
      @extend %input-style;
      width: 100%;
      padding-left: 2rem;
      padding-top: 1rem;
      height: 10rem;
      resize: none;
    }
    .add_button {
      background-color: base.$blue;
      border: none;
      color: white;
      font-size: larger;
      border-radius: 5px;
      font-weight: bolder;
      cursor: pointer;
    }
    > section {
      display: grid;
      grid-template-columns: auto 1fr;
      > input {
        @extend %input-style;
        font-size: 1.1rem;
        padding: 5px 10px;
        padding-left: 1rem;
      }
      > button {
        max-width: 4rem;
        padding: 3px;
        border: none;
        background-color: base.$pink;
        color: white;
        font-size: larger;
        border-radius: 5px;
        font-weight: bolder;
        margin-left: 15px;
        cursor: pointer;
        @media (max-width: base.$md) {
          margin-left: 0;
          width: 3.5rem;
        }
      }
      > div {
        padding-top: 15px;
        grid-column: 1/3;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        > span {
          text-transform: capitalize;
          display: inline-block;
          color: white;
          font-size: larger;
          border-radius: 5px;
          display: flex;
          background-color: base.$brown;
          > span {
            display: inline-block;
            padding: 2px 5px;
            font-weight: 900;
          }
          > button {
            margin-left: 10px;
            border: none;
            color: white;
            background-color: base.$blue;
            height: 100%;
            border-radius: 0 5px 5px 0;
            font-weight: 900;
            cursor: pointer;
          }
        }
      }
      @media (max-width: base.$md) {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
      }
    }
    .submit_button {
      border: none;
      font-size: larger;
      color: white;
      background-color: base.$blue;
      border-radius: 5px;
      font-weight: 900;
      cursor: pointer;
      padding: 5px 10px;
      > span {
        span {
          height: 15px;
        }
      }
    }
  }
}
// ! style to nav bar
.nav {
  width: 100%;
  background-color: base.$pink;
  padding-inline: 2rem;
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  color: white;
  > img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
  }
  > p {
    padding-left: 1rem;
    text-transform: capitalize;
    font-weight: 800;
    font-size: larger;
  }

  .nav_pc {
    padding-right: 4rem;
    justify-self: end;
    > a {
      text-transform: capitalize;
      color: base.$blue;
      background-color: white;
      text-decoration: none;
      border-radius: 10px;
      padding: 2px 5px;
      font-weight: 600;
      margin-inline: 10px;
      transition: all 0.2s;
    }
    .active {
      background-color: base.$blue;
      color: white;
    }
    @media (max-width: base.$md) {
      display: none;
    }
  }
  .nav_mobile {
    justify-self: flex-end;
    margin-right: 4rem;
    position: relative;
    > input {
      display: none;
      &:checked ~ section {
        transform: scale(1);
      }
    }
    > label {
      position: relative;
      padding: 4px 8px;
      border-radius: 5px;
      background-color: base.$brown;
      font-weight: bolder;
    }
    > section {
      position: absolute;
      top: 150%;
      right: 0;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      transform: scale(0);
      transition: all 0.3s;
      transform-origin: top center;
      background-color: base.$blue;
      border-radius: 5px;
      z-index: 10;
      > a {
        width: max-content;
        text-align: center;
        text-decoration: none;
        text-transform: capitalize;
        display: block;
        padding: 10px;
        color: white;
        font-weight: 600;
        // border-bottom:1px solid white;
      }
      .active_mobile {
        color: base.$brown;
      }
    }
    @media (min-width: base.$md) {
      display: none;
    }
  }
}

// !items page

.items {
  @extend %full-area;
  @extend %scroll-hide;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  padding-bottom: 20rem;
  > main {
    display: flex;
    flex-direction: column;
    width: 80vw;
    gap: 1.7rem;
    > h1 {
      color: base.$blue;
      @media (max-width: base.$sm) {
        font-size: x-large;
      }
    }
    > p {
      margin: 0;
      background-image: linear-gradient(to right, #b24592, #f15f79);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      font-size: 1.5rem;
      text-transform: capitalize;
      font-weight: 600;
      letter-spacing: 1px;
      background-size: 30%;
    }
    > .whishlist {
      display: flex;
      align-items: center;
      gap: 0.6rem;
      background-size: 40%;
      background-image: linear-gradient(to right, #43cea2, #185a9d); 
      >svg{
        height: 2rem;
        path{
          fill: #43cea2 !important;
        }
      }
      @media (max-width:base.$sm) {
        font-size: larger;
        >svg{
          height: 1.7rem;
        }
      }
    }
    > section {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 2rem;
      @extend %full-area;
      @extend %scroll-hide;
      @media (max-width: base.$md) {
        flex-wrap: nowrap;
        overflow-x: scroll;
        max-width: 100vw;
      }
      @media (max-width: base.$sm) {
        width: 90vw;
      }
      > img {
        border-radius: 5px;
        max-height: 15rem;
        min-height: 10rem;
        width: min-content;
        object-fit: contain;
      }
    }
    > div {
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      > span {
        background-color: base.$brown;
        padding: 5px 10px;
        border-radius: 5px;
        color: white;
        font-weight: 600;
        text-transform: capitalize;
        font-size: larger;
        @media (max-width: base.$sm) {
          font-size: medium;
        }
      }
    }
    > span {
      > a,
      button {
        cursor: pointer;
        display: inline-block;
        text-decoration: none;
        background-color: base.$pink;
        color: white;
        border-radius: 5px;
        padding: 5px;
        font-weight: 600;
        margin-right: 1.5rem;
        font-size: large;
        @media (max-width: base.$sm) {
          font-size: medium;
        }
        >svg{
          height: 1rem;
        }
      }
      > button {
        border: none;
        background-color: base.$blue;
        text-transform: capitalize;
      }
      .chart_link{
        display: inline-flex;
        position: relative;
        top: 6px;
        background-color: rgb(41, 41, 41);
        padding-block: none;
        padding-inline: 1rem;
        >svg{
          height: 1.5rem;
        }
      }
    }
    > hr {
      height: 15px;
      width: 100%;
      border: none;
      background: linear-gradient(
        90deg,
        hsla(31, 90%, 76%, 1) 0%,
        hsla(302, 82%, 76%, 1) 100%
      );
    }
  }
}
