@use '../global/base.module';

.loading {
    @extend %full-area;
    display: grid;
    place-items: center;
    background-color: white;
    > div {
      height: 4rem;
      display: flex;
      justify-content: center;
      gap: 1rem;
      flex-direction: column;
      text-transform: capitalize;
      font-weight: bold;
      color: gray;
      > span {
        min-width: 6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        span {
          width: 10px;
          background-color: gray;
        }
      }
    }
  }